

:root{
    --wui-midnight-green: #023c40ff;
    --wui-dark-slate-gray: #335358ff;
    --wui-dim-gray: #636a70ff;
    --wui-taupe-gray: #938188ff;
    --wui-rosy-brown: #c3979fff;
    --wui-vivid-sky-blue: #0ad3ffff;
    --wui-fluorescent-cyan: #41e9ebff;
    --wui-aquamarine: #78ffd6ff;
    --wui-aquamarine-2: #adfde8ff;
    --wui-light-cyan: #e1faf9ff;
}




